<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>John Fox's Online Portfolio</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Roboto" rel="stylesheet">

</head>

<body>
    
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Logo</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav pull-right">
            <li class="active"><a href="#">PORTFOLIO</a></li>
            <li><a href="#">ABOUT ME</a></li>
            <li><a href="#">CONTACT</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <!-- Header -->
    <header id="header">
        <div class="container">
            <div class="row">
              <%= image_tag 'john_fox', class: 'col-xs-4 col-xs-offset-4 col-md-4 col-md-offset-4 img-fluid' %>
            </div>
            <div class="intro-text">
                <div class="row">
                    <span class="header-title text-center col-xs-4 col-xs-offset-4 col-md-4 col-md-offset-4">JOHN FOX</span>
                </div>
                <div class="row">
                    <hr class="star-light col-xs-4 col-xs-offset-4 col-md-4 col-md-offset-4">
                </div>
                <div class="row">
                    <span class="header-subtitle text-center col-xs-4 col-xs-offset-4 col-md-4 col-md-offset-4">Full Stack Developer</span>
                </div>
            </div>
        </div>
    </header>


    <!-- Portfolio -->
    <section id="portfolio">
        <div class="container">
            <h2 class="white-section-title text-center">PORTFOLIO</h2>
            <div class="row">
                <hr class="star-light col-xs-4 col-xs-offset-4 col-md-4 col-md-offset-4">
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <%= image_tag 'christopher_james.jpg', class: "content-img img-fluid" %>
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="http://placehold.it/360x260" class="content-img img-fluid" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="http://placehold.it/360x260" class="content-img img-fluid" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="http://placehold.it/360x260" class="content-img img-fluid" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="http://placehold.it/360x260" class="content-img img-fluid" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="http://placehold.it/360x260" class="content-img img-fluid" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>
    
    <!-- About Section -->
    <section id="resume">
        <div class="container">
            <h2 class="color-section-title text-center">RESUME</h2>
            <hr class="star-light">
            <div class="row">
                <div class="col-xs-12">
                    <p>Iceland godard tote bag mustache cornhole, DIY meh authentic. Tacos mlkshk retro dreamcatcher semiotics, tilde chartreuse tofu vaporware health goth master cleanse street art schlitz gluten-free. 3 wolf moon mixtape blog scenester.</p>
                </div>
                <div class="col-xs-12 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Resume
                    </a>
                </div>
            </div>
        </div>
    </section>
    
    
    
    <!-- Contact -->
    <section id="contact">
        <div class="container">
            <h2 class="white-section-title text-center">CONTACT ME</h2>
            <hr class="star-primary">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <%= render partial: "form" %> <!--Contact Form-->
                </div>
            </div>
        </div>
    </section>
    
    <!-- Footer -->
    <footer class="text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                      <h3>Text3</h3>
                      <p>FIceland godard tote bag mustache cornhole, DIY meh authentic. Tacos mlkshk retro dreamcatcher semiotics.</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Social Media</h3>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Text3</h3>
                        <p>FIceland godard tote bag mustache cornhole, DIY meh authentic. Tacos mlkshk retro dreamcatcher semiotics.</p>
                    </div>
                </div>
            </div>
    </footer>

</body>

</html>